<%- contentFor('body') %>

   <script type="text/javascript">
      
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartLine);

      function drawChartLine() {
       var myArray = [];
       
       
       <% if (db_data) { %>
       		 myArray.push (["Minutos","Mensagens"]);
	   		<% for(var i=0; i < db_data.data.length; i++) { %>
        	     myArray.push (["<%= db_data.data[i].label %>",<%= db_data.data[i].value %>]);
	  		 <% } %>
       <% } %>
       console.table (myArray);
       
       var data = google.visualization.arrayToDataTable(myArray);
        
        var options = {
          title: 'Mensagens por Minuto',
          curveType: 'function',
          legend: { position: 'top' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('graph3'));
    	chart.draw(data, options);
        
      }
    </script>

	<div id='graph1'>
 
	</div>

	<div id='graph2'>
	</div>

	<div id='graph3'>
	</div>
	


